# Reido Vidaya Mahardika

## Python Modeling Credit Scoring

### I. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import phik
import pickle
import json
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score, classification_report

### II. Data Loading

In [2]:
# Load Dataset
df_ori = pd.read_csv(r'C:\Users\reido\OneDrive\Desktop\Job\Data\Talentport\Technical Test\ds-takehome\data\credit_scoring.csv')   

# Duplicate data
df = df_ori.copy()
df.head(5)

,application_id,age,monthly_income,loan_amount,previous_defaults,credit_score,default,leak_col_good,leak_col_subtle
0,501000,41,13995609,5982664,0,624,0,0,-0.040
1,501001,58,13683833,3711198,0,809,0,0,0.001
2,501002,33,9417391,7172332,0,647,0,0,0.077
3,501003,45,6861811,8661056,0,450,0,0,0.038
4,501004,22,5640742,4520669,1,816,0,0,0.020

### III. EDA

In [3]:
# Summary Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   application_id     6000 non-null   int64
 1   age                6000 non-null   int64
 2   monthly_income     6000 non-null   int64
 3   loan_amount        6000 non-null   int64
 4   previous_defaults  6000 non-null   int64
 5   credit_score       6000 non-null   int64
 6   default            6000 non-null   int64
 7   leak_col_good      6000 non-null   int64
 8   leak_col_subtle    6000 non-null   float64
dtypes: float64(1), int64(8)
memory usage: 422.0 KB

In [4]:
df.describe()

,application_id,age,monthly_income,loan_amount,previous_defaults,credit_score,default,leak_col_good,leak_col_subtle
count,6000.000000,6000.000000,6.000000e+03,6.000000e+03,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,503999.500000,40.321500,1.140386e+07,8.001122e+06,0.243667,575.979833,0.012167,0.012167,0.011945
std,1732.195139,11.300697,4.912598e+06,4.071786e+06,0.484767,158.328931,0.109639,0.109639,0.113947
min,501000.000000,21.000000,3.000310e+06,1.000794e+06,0.000000,300.000000,0.000000,0.000000,-0.119000
25%,502499.750000,31.000000,7.163379e+06,4.440939e+06,0.000000,438.750000,0.000000,0.000000,-0.020000
50%,503999.500000,41.000000,1.129945e+07,7.982304e+06,0.000000,577.500000,0.000000,0.000000,0.000000
75%,505499.250000,50.000000,1.573705e+07,1.153144e+07,0.000000,713.000000,0.000000,0.000000,0.021000
max,506999.000000,59.000000,1.998622e+07,1.499858e+07,3.000000,849.000000,1.000000,1.000000,1.092000

In [5]:
# Check Missing Value
df.isnull().sum().sum()

0

In [6]:
# Check Duplicated Data
df.duplicated().sum()

0

In [ ]:
# Drop Column
df_clean = df.drop(columns=['application_id', 'leak_col_good', 'leak_col_subtle'])

### IV Feature Engineering

In [8]:
# Split X dan y
X = df_clean.drop(['default'], axis=1)
y = df_clean['default']
X.head()

   age  monthly_income  loan_amount  previous_defaults  credit_score
0   41        13995609      5982664                  0           624
1   58        13683833      3711198                  0           809
2   33         9417391      7172332                  0           647
3   45         6861811      8661056                  0           450
4   22         5640742      4520669                  1           816

In [9]:
df_clean['default'].value_counts()

default
0    5927
1      73
Name: count, dtype: int64

In [ ]:
# Split X train test dan y train test
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=26)

#### V. Modeling

In [ ]:
# Logistic Regression 
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)
print("Logistic Regression AUC:", roc_auc_score(y_test, logreg.predict_proba(X_test)[:, 1]))

LogReg AUC: 0.7925101214574898

In [16]:
# Gradient Boosting
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
print("Gradient Boosting AUC:", roc_auc_score(y_test, gbc.predict_proba(X_test)[:, 1]))

Gradient Boosting AUC: 0.7590718248612986